<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>测试数据验证</title>
</head>
<body>
 	<form class="cmxform" id="commentForm" method="get" action="">
	  <fieldset>
	    <legend>输入您的名字，邮箱，URL，备注。</legend>
	    <p>
	      <label for="cname">Name (必需, 最小两个字母)</label>
	      <input id="cname" name="name" minlength="2" type="text" required>
	    </p>
	    <p>
	      <label for="cemail">E-Mail (必需)</label>
	      <input id="cemail" type="email" name="email" required>
	    </p>
	    <p>
	      <label for="curl">URL (可选)</label>
	      <input id="curl" type="url" name="url">
	    </p>
	    <p>
	      <label for="ccomment">备注 (必需)</label>
	      <textarea id="ccomment" name="comment" required></textarea>
	    </p>
	    <p>
	      <input id="submit" class="submit" type="submit" value="Submit">
	    </p>
	  </fieldset>
	</form>
</body>
<script src="../javascript/jquery/jquery-1.7.js"></script>
<script src="../javascript/vue/vue.js"></script>
<script src="../javascript/jquery.validate/jquery.validate.js"></script>
<script src="../javascript/jquery.validate/jquery.validate.messages_cn.js"></script>
<script type="text/javascript">
	/* $.validator.setDefaults({
	    submitHandler: function() {
	      alert("提交事件!");
	    }
	}); */
	var validator = $.validator;
	
	$().ready(function() {
	    $("#commentForm").validate();
	    
	    $("#submit").unbind('click').bind('click',function(){
			console.log(validator);
			if(validator.valid()){
				alert('验证通过');
			}
		});
	});
</script>
</html>